<h1>Author Info </h1>
<p>
<strong>Name:</strong>
<%= @author.name %>
</p>

<p>
<strong>Homepage:</strong>
<%= @author.homepage %>
</p>

<p>
<%= link_to 'Edit Author', edit_author_path(@author) %>
</p>

