<p id="notice"><%= notice %></p>

<h1>Paper Management System works!</h1>
You are seeing the rendered view of 'views/home/index.html.erb' 
<p>
<%= link_to 'Authors', authors_path %>
</p>
<p>
<%= link_to 'Papers', papers_path %>
</p>